<div style="font-size: 15px;">
    <p><b>¡Bienvenido!</b></p>
    <p><b>Estimados Product Owners:</b></p>
    <p>Les invitamos a participar en nuestra encuesta <b>POCLAC (Feedback del Product Owner y Agile Team Coach)</b> del <i>Chapter Core y Periféricos Vida</i>. Esta
        encuesta es una oportunidad valiosa para recibir retroalimentación constructiva sobre el desempeño y
        contribución del equipo.</p>
    <p>El objetivo de esta encuesta es fomentar el crecimiento profesional, mejorar la colaboración en el equipo y
        alinear nuestros esfuerzos con los objetivos del producto. Sus respuestas nos ayudarán a identificar áreas de
        fortaleza y oportunidades de mejora.</p>
    <p>La encuesta es confidencial y sus respuestas serán tratadas con la máxima discreción. Le animamos a ser honesto y
        reflexivo en sus respuestas, ya que su feedback es crucial para el desarrollo continuo de nuestro equipo y
        procesos.</p>
    <p>Gracias por su participación y compromiso con la mejora continua.</p>
    <p><b><i> La fecha límite para el llenado del mismo es Viernes 12 de Julio.</i></b></p>
    <div class="d-flex justify-content-center align-items-center">
        <button type="button" routerLink="/poclac/p1" class="btn btn-primary px-5 py-3 mt-2">Sig.</button>
    </div>
</div>