<app-encuesta-base>
  <div class="mx-custom my-5" *ngIf="idEncuestaValida" >
    <div class="row">
      <div class="col-12 text-center text-primary mt-5">
        <h2><b>{{encuesta.titulo}}</b></h2>
      </div>
      <div class="col-12 mt-3" style="font-size: 15px;">
        <p><b>{{encuesta.subtitulo}}</b></p>
        <div [innerHTML]="encuesta.descripcion"></div>
      </div>
    </div>
  
    <div class="d-flex justify-content-center align-items-center">
      <button type="button"  (click)="empezar()" class="btn btn-primary px-5 py-3 mt-2 mx-2">Empezar</button>
    </div>
  </div>
</app-encuesta-base>