<form #registerForm="ngForm"
        (ngSubmit)="registerForm.form.valid && siguiente()"  novalidate>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6">
            <span *ngIf="(name.touched || registerForm.submitted) && name.hasError('required')" class="text-valid">
                ❗ Esta pregunta requiere una respuesta.
            </span>
            <label for="nombreEncuestado" class="form-label text-primary"><b>*</b> Por favor ingrese su nombre y
                apellido: </label>
            <input type="text" class="form-control" id="nombreEncuestado" name="nombreEncuestado"
                [(ngModel)]="nombreEncuestado" #name="ngModel" required>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6">
            <span *ngIf="(correo.touched || registerForm.submitted) && correo.hasError('required')" class="text-valid">
                ❗ Esta pregunta requiere una respuesta.
            </span>
            <label for="correoEncuestado" class="form-label text-primary"><b>*</b> Por favor ingrese su correo: </label>
            <input type="email" class="form-control" id="correoEncuestado" name="correoEncuestado"
                [(ngModel)]="correoEncuestado" #correo="ngModel" required>
        </div>
    </div>

    <br>

    <div class="d-flex justify-content-center align-items-center">
        <button type="button" routerLink="/poclac/home" class="btn btn-primary px-5 py-3 mt-2 mx-2">Ant.</button>
        <button type="submit" class="btn btn-primary px-5 py-3 mt-2 mx-2">Sig.</button>
    </div>

</form>