<h4 class="text-primary">Members - {{ nombreTribu }}</h4>
<br>
<form [formGroup]="form" (ngSubmit)="siguiente()" novalidate>
    <div class="row">
        <div class="col-12">
            <span *ngIf="(submitted || form.get('squad')?.touched) && form.get('squad')?.hasError('required')"
                class="text-valid">
                ❗ Esta pregunta requiere una respuesta.
            </span>
        </div>
        <div class="col-12">
            <label class="form-label text-primary"><b>*</b> Indique el <b>Squad</b> donde estan asignado los members:
            </label>
        </div>
        <div *ngFor="let squad of squads; let i = index" class="col-sm-12 col-md-6 col-lg-4 checkbox-container"
            [ngClass]="{'checked': form.controls['squad'].value === squad.id}" style="font-size: small;">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="squad" [id]="squad.id" [value]="squad.id"
                    formControlName="squad" required (change)="changeSquad()">
                <label class="form-check-label" [for]="squad.id">
                    {{squad.nombre}}
                </label>
            </div>
        </div>
    </div>

    <br>

    <div class="d-flex justify-content-center align-items-center">
        <button type="button" routerLink="/poclac/p3" class="btn btn-primary px-5 py-3 mt-2 mx-2">Ant.</button>
        <button type="submit" class="btn btn-primary px-5 py-3 mt-2 mx-2">Sig.</button>
    </div>
</form>