<div class="row mt-5">
    <div class="col-12">
        <div class="text-center text-primary">
            <h4>{{title}}</h4>
        </div>
    </div>
    <div class="col-12">
        <button (click)="exportarExcel()" class="btn btn-primary"><i class="bi bi-cloud-arrow-down"></i> Exportar excel</button>
    </div>
    <div class="col-12 mt-4">
        <div class="table-responsive font-size-x-small">
            <table class="table  table-sm">
                <thead>
                    <tr>
                        <th scope="col">Fecha</th>
                        <th scope="col">Member</th>
                        <th scope="col">Proveedor</th>
                        <th scope="col">Squad</th>
                        <th scope="col">Nombre Rol</th>
                        <th scope="col">Encuestador</th>
                        <th scope="col">Puntaje General</th>
                        <th scope="col">Desempeño Que</th>
                        <th scope="col">Desempeño Como</th>
                        <th scope="col">Feedback Apreciativo</th>
                        <th scope="col">Feedback Constructivo</th>
                    </tr>
                </thead>
                <tbody  class="table-group-divider">
                    <tr *ngFor="let respuesta of paginatedItems">
                        <td>{{ respuesta.fecha | date:'dd/MM/yyyy'  }}</td>
                        <td>{{ respuesta.member }}</td>
                        <td>{{ respuesta.proveedor }}</td>
                        <td>{{ respuesta.squad }}</td>
                        <td>{{ respuesta.nombreRol }}</td>
                        <td>{{ respuesta.encuestador }}</td>
                        <td>{{ respuesta.puntajeGeneral }}</td>
                        <td>{{ respuesta['desempeñoQue'] }}</td>
                        <td>{{ respuesta['desempeñoComo'] }}</td>
                        <td>{{ respuesta.feedbackApreciativo ?? '' | truncate:20 }}</td>
                        <td>{{ respuesta.feedbackConstructivo ?? ''  | truncate:20 }}</td>
                    </tr>
            </table>
        </div>
    </div>

    <div class="pagination-controls d-flex justify-content-center">
        <nav aria-label="Navegación de página">
            <ul class="pagination">
                <li class="page-item" [class.disabled]="currentPage === 1">
                    <button class="page-link" (click)="previousPage()" aria-label="Anterior">
                        Anterior
                    </button>
                </li>
                <li class="page-item" *ngFor="let page of [].constructor(maxPage) | slice:0:maxPage; let i = index" [class.active]="currentPage === i+1">
                    <button class="page-link" (click)="goToPage(i+1)">{{ i + 1 }}</button>
                </li>
                <li class="page-item" [class.disabled]="currentPage * itemsPerPage >= respuestas.length">
                    <button class="page-link" (click)="nextPage()" aria-label="Siguiente">
                        Siguiente
                    </button>
                </li>
            </ul>
        </nav>
    </div>
    
</div>



