/* You can add global styles to this file, and also import other style files */
:root {
    --bs-primary-rgb: 0, 30, 87;
    
}

.mt-10 {
    margin-top: 6rem;
}

body {
    font-size: 20px;
}

.mx-10 {
    margin-left: 6rem;
    margin-right: 6rem;
}

.btn-primary {
    background-color: #001E57 !important;
    border-color: #001E57 !important;
}

.btn-primary:hover {
    background-color: #243658 !important;
}

.text-valid {
    font-size: .8em;
    color: #ce0000dd;
}


.checkbox-container {
    padding: 10px;
    border: 2px solid transparent; /* Borde transparente por defecto */
    border-radius: 5px; /* Opcional: para bordes redondeados */
  }
  
  .checkbox-container.checked {
    border-color: #243658; /* Cambia el color del borde cuando está seleccionado */
    background-color: #e9ecef; /* Opcional: cambia el fondo cuando está seleccionado */
    font-weight: bold;;
}
  
